            h1{
				text-align: center;
			}
			form{
				display:flex;
				flex-direction:column;
				justify-content: center;
				width:30%;
			}
			body{
				display:flex;
				flex-direction:row;
				justify-content: center;
				align-items:center;
				font-family:sans-serif;
			}
			.btn{
				padding:2%;
				margin:10px;
				background-color: orange;
				color:#fff;
				font-size: 22px;
				border:none;
				}
				.btn:hover{
					cursor:pointer;
					opacity: 0.8;
				}
			input{
				padding:2%;
			}
			label{
				font-size: 20px;
				font-weight: bolder;
				margin: 10px 0;
			}
			a{
				text-decoration: none;
			}
			h5{
				color:blue;
				margin:5px 0;
			}

